*{
  margin: 0;
}
.slider{
  width: 1200px;
  height: 360px;
}
button{
  background: none;
  border: 1px solid black;
  border-radius: 5px;
padding: 10px;
}

button:hover{
  background: rgb(230, 151, 151);
}
button:active{
  background: rgb(155, 219, 155) ;
}
.img{
  width: 400px;
  height: 350px;
}
